.title {
  color: #ffffff;
  text-align: center;
  font-size: 4vh;
}

.count-click {
  padding-top: 5%;
  color: #ffffff;
  text-align: center;
  font-size: 5vh;
}

.coin-btn {
  padding-top: 10%;
  text-align: center;
  padding-bottom: 5%;
}

.coin-button {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #ffffff;
  border: none;
  display: inline-block;
  cursor: pointer;
  padding: 0; /* Убираем отступы внутри кнопки */
}

.img-boobs {
  width: 100%; /* Заполняет размер кнопки */
  height: auto; /* Сохраняет пропорции */
  border-radius: 50%; /* Делает изображение круглым */
}

.App {
  top: 0;
  padding-top: 5%;
  background-color: black;
}
